@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post" enctype="multipart/form-data" asp-controller="Data" asp-action="ImportAdditionalCodes">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload import data:</p>
                <input type="file" name="files">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="file" value="Upload">
                <button type="button" id="btnCancelUploadData">Cancel</button>
            </div>
        </div>
    </form>
</div>
